@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --white: #fff;
    --beje: #DECEB4;
    --beje-light: #F5F2ED;
    --black: #171310;
    --blue: #5F93C3;
    --blue2: #334D73;
    --light-bg: #eee;
    --border-bold: 5px solid var(--black);
    --border-light: 3px solid var(--black);
    --border-lighter: 2px solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    resize: none;
    text-decoration: none;
    text-transform: none;
    color: var(--black);
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

html {
    height: 50rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow: hidden;
    transition: .4s linear infinite;
    background: var(--beje-light);
}

.header {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    width: 260px;
    border-right: var(--border-bold);
    padding: 20px 10px;
    background-color: #F5F2ED;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .6s ease;
    z-index: 1;
}

.header.active {
    left: 0;
}

.header .logo {
    font-size: 35px;
    font-weight: bold;
    border-bottom: var(--border-light);
    border-color: var(--blue);
    color: var(--blue);
}

.header .navbar {
    width: 100%;
}

.header .navbar a {
    display: block;
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 10px;
}

.header .navbar a.active,
.header .navbar a:hover {
    background-color: var(--blue);
}

.social-icons {
    font-size: 22px;
    margin: 5px;
}

.social-icons a {
    margin: 3px;
}

.social-icons a:hover {
    color: var(--blue);
    transition: .3s ease;
}

.header #menubtn {
    position: absolute;
    top: 0;
    right: -45px;
    line-height: 40px;
    font-size: 20px;
    height: 40px;
    width: 45px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}


.header #menubtn:hover {
    color: var(--blue);
}

/* Estilos da seção */

section {
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.home .left {
    width: calc(50% - 50px);
    margin: 10px;
}

.home .left img {
    height: 500px;
    padding: 30px 20px;
    box-shadow: 15px 15px 25px 2px #171310;
    background-color: var(--blue2);
    background-size: cover; 
    transform-style: preserve-3d;
    object-fit: cover;
    transform: perspective(1000px);
    display: flex;
}

.home .right {
    width: calc(50% - 50px);
    margin: 10px;
}

.home .right h3 {
    font-size: 30px;
    font-weight: 800;
}

.home .right h2 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home .animated-text {
    position: relative;
    height: 55px;
    overflow: hidden;
}

.home .animated-text h3 {   
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 800;
    line-height: 50px;
    color: var(--blue);
}

.home .animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -25px;
    }

    50% {
        margin-top: -50px;
    }

    75% {
        margin-top: -25px;
    }

    100% {
        margin-top: 0;
    }
                                                                                            
}

.home .right p {
    font-size: 16px;
}

.home .right a {
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    padding: 8px 15px;
    margin: 10px 0;
    background-color: var(--blue);
    border-color: var(--blue);
    transition: .4s ease;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px #171310;
}

.home .right a:hover {
    background-color: transparent;
    border-color: var(--black)   
}

.shake-horizontal:hover {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

/*------------------ sobre ----------------*/

.about .title {
    text-align: center;
    margin-bottom: 50px;
}

.about .title span {
    font-size: 40px;
    font-weight: 800;
    border-bottom: var(--border-bold);
    text-transform: uppercase;
}

.about > p {
    text-align: justify;
    max-width: 1200px;
    font-size: 16px;
    margin: auto;
}

.about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.about .left {
    width: calc(50% - 50px);
    margin: 10px;
}

.about .left h3 {    
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}


.about .left h3 span {    
    font-size: 30px;
    font-weight: 700;
    margin-right: 80px;
}

.about .right {
    width: calc(50% - 50px);
    margin: 10px;
}

.about .right h3 {    
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    border: var(--border-light);
    padding: 5px;
}

.about .right span {
    font-size: 22px;
    font-weight: 700;
}

.about .right a {
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    padding: 8px 15px;
    margin: 10px 0;
    background-color: var(--blue);
    border-color: var(--blue);
    transition: .4s ease;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px #171310;
}

.about .right a:hover {
    background-color: transparent;
    border-color: var(--black);
}

.title-2 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 60px 50px;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 10px;
}

.timeline-item {
    width: calc(50% - 50px);
    position: relative;
    border-left: var(--border-bold);
    padding-left: 3rem;
}

.timeline-item .tl-icon {
    position: absolute;
    top: 0;
    left: -21px;
    height: 40px;
    width: 40px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-item .tl-icon i {
    color: var(--white);
    background-color: var(--black);
}

.timeline-item h6 {
    background: var(--light-bg);
    display: inline-block;
    font-size: 14px;
}

.timeline-item h5 {
    font-size: 22px;
    font-weight: 800;
    margin: 10px 0;
}


/*--------- SKILLS ----------*/

.skills .title {
    text-align: center;
    margin-bottom: 50px;
}

.skills .title span {
    font-size: 35px;
    font-weight: 800;
    border-bottom: var(--border-bold);
    text-transform: uppercase;
}

.skills .skills-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
}

.skills .skills-content .box {
    width: calc(50% - 40px);
    margin: 0 10px;
    border-top: var(--border-light);
    border-bottom: var(--border-light);
    text-align: center;
    cursor: pointer;
    padding: 10px;
    transition: .4s ease;
    
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.skills .skills-content .box:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 10px 2px #171310;
}

.skills .skills-content .box:hover h3 {
    background: var(--blue2);
    color: #fff;
}

.skills .skills-content .box i {
    font-size: 25px;
    height: 50px;
    width: 50px;
    background-color: var(--blue2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;   
    margin: auto;
}
 
.skills .skills-content .box .fa-brands {
    color: var(--white);
}

.skills-content .box h3 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: 800;
    border-radius: 50%;
    transition: .4s ease;
}

/*--------- portifolio ----------*/

.portfolio .title {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio .title span {
    font-size: 35px;
    font-weight: 800;
    border-bottom: var(--border-bold);
    text-transform: uppercase;
}

.portfolio p {
    text-align: center;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 30px 10px;
}

.portfolio-item {
    position: relative;
    box-shadow: 5px 10px 10px 2px #171310;
}

.portfolio-content img {
    width: 100%;
    height: 210px;
    border-radius: 5px;
}

.portfolio-content .hover-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--blue2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: .4s ease-in-out;
}

.portfolio-content .portfolio-item:hover .hover-item {
    opacity: 1;
    transform: scale(1);
}

.portfolio-content .hover-item h3 {
    color: var(--beje-light);
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
}

.portfolio-content .hover-item .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-content .hover-item .icons i {
    height: 35px;
    width: 35px;
    font-size: 18px;
    border-radius: 50%;
    color: var(--black);
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px;
}

.portfolio-content .hover-item .icons i:hover {
    color: var(--beje-light);
    background: var(--black);
    transition: .3s ease;
}


/*----- contato -----*/
.contact {
    background-size: cover;
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='560' preserveAspectRatio='none' viewBox='0 0 1980 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='1980' height='560' x='0' y='0' fill='rgba(245%2c 242%2c 237%2c 1)'%3e%3c/rect%3e%3cpath d='M1542.5%2c426.077C1560.072%2c424.852%2c1570.265%2c407.818%2c1578.245%2c392.114C1585.277%2c378.276%2c1589.626%2c362.192%2c1581.762%2c348.809C1573.98%2c335.565%2c1557.857%2c330.928%2c1542.5%2c331.285C1527.844%2c331.626%2c1514.564%2c338.47%2c1506.278%2c350.564C1496.559%2c364.75%2c1489.503%2c382.277%2c1496.94%2c397.781C1505.227%2c415.057%2c1523.385%2c427.409%2c1542.5%2c426.077' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M536.8956475380367 115.44492177738513L685.786998757968 83.7970880996728 654.1391650802557-65.09426312025855 505.2478138603243-33.44642944254622z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1635.3422262928011 151.4782469842202L1535.0622687516861 93.45409106428426 1533.2947353539066 194.7160116041656z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M519.3120632770432 380.06488582414596L456.7914436111962 438.36630685722326 515.0928646442735 500.88692652307026 577.6134843101205 442.58550548999295z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M500.17093670613053 233.3246488282299L400.8524631933146 365.12471479465614 532.6525291597409 464.4431883074721 631.9710026725568 332.64312234104585z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M717.291%2c449.664C732.839%2c449.792%2c747.252%2c441.808%2c755.336%2c428.526C763.764%2c414.677%2c766.214%2c397.029%2c757.735%2c383.211C749.56%2c369.889%2c732.902%2c365.756%2c717.291%2c366.53C703.133%2c367.232%2c690.558%2c374.762%2c683.244%2c386.904C675.666%2c399.484%2c673.317%2c414.998%2c680.32%2c427.907C687.628%2c441.378%2c701.966%2c449.537%2c717.291%2c449.664' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M250.56234990251608 276.34613080261164L352.6939775598056 305.63190377337605 345.5568231873075 137.79157580205958z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1897.798%2c68.341C1917.846%2c67.264%2c1931.243%2c49.995%2c1941.068%2c32.486C1950.618%2c15.468%2c1958.25%2c-4.867%2c1948.3%2c-21.654C1938.48%2c-38.222%2c1917.058%2c-40.435%2c1897.798%2c-40.516C1878.343%2c-40.597%2c1857.357%2c-38.262%2c1846.557%2c-22.08C1834.717%2c-4.34%2c1835.137%2c19.054%2c1845.652%2c37.61C1856.313%2c56.423%2c1876.205%2c69.501%2c1897.798%2c68.341' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1039.819%2c495.046C1093.773%2c494.581%2c1151.258%2c486.46%2c1181.014%2c441.451C1213.516%2c392.289%2c1215.339%2c326.613%2c1184.288%2c276.522C1154.632%2c228.682%2c1096.074%2c211.82%2c1039.819%2c213.678C987.141%2c215.417%2c939.133%2c240.989%2c910.98%2c285.547C880.591%2c333.644%2c864.54%2c395.46%2c894.343%2c443.922C923.201%2c490.847%2c984.732%2c495.521%2c1039.819%2c495.046' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M101.668%2c274.483C132.611%2c275.849%2c162.694%2c258.927%2c176.902%2c231.405C190.178%2c205.689%2c181.49%2c175.218%2c165.295%2c151.233C151.123%2c130.244%2c126.992%2c119.628%2c101.668%2c119.979C77.008%2c120.321%2c53.916%2c131.931%2c41.023%2c152.955C27.503%2c175.001%2c25.571%2c202.096%2c37.118%2c225.236C50.07%2c251.191%2c72.689%2c273.204%2c101.668%2c274.483' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1711.3%2c326.621C1754.167%2c324.446%2c1793.854%2c304.739%2c1816.228%2c268.11C1839.633%2c229.792%2c1844.814%2c182.263%2c1823.671%2c142.652C1801.299%2c100.738%2c1758.811%2c71.652%2c1711.3%2c71.531C1663.597%2c71.41%2c1622.507%2c101.191%2c1597.936%2c142.079C1572.503%2c184.401%2c1560.312%2c237.709%2c1586.157%2c279.781C1611.145%2c320.458%2c1663.622%2c329.04%2c1711.3%2c326.621' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1013.5638800467092 0.39130254348724947L964.9786587456508 104.58264585809536 1069.1700020602589 153.16786715915373 1117.7552233613173 48.97652384454563z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M173.69332849864932 182.80582544133296L42.71879506353093 215.46144428602844 75.37441390822642 346.43597772114686 206.3489473433448 313.7803588764514z' fill='rgba(255%2c 255%2c 255%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1980' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.contact .title {
    text-align: center;
    margin-bottom: 50px;
}

.contact .title span {
    font-size: 35px;
    font-weight: 800;
    border-bottom: var(--border-bold);
    text-transform: uppercase;
}

.contact-content {
    display: flex;
    padding-top: 20px;
}

.contact-content .left{
    flex: 2;
    margin: 0 10px;
}

.contact-content .left h3 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}


.icons {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;

}

.icon .fa-solid {
    font-size: 18px;   
}

.icons .icon  i {
    font-size: 35px;
    height: 50px;
    width: 50px;
    margin: 50px;
    
}

.icons .icon i:hover {
    color: var(--blue);
    transition: .3s ease;
}





/*------------ RESPONSIVIDADE --------------*/

@media (max-width: 1000px) {
    .home .left img {
        height: 450px;
        padding: 30px 20px;
        border: var(--border-bold);
    }
    .home .right h3 {
        font-size: 25px;
    }
    .home .right h2 {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .home .left img {
        height: 400px;
    }

    .home .right h3 {
        font-size: 22px;
    }
    
    .home .right h2 {
         font-size: 35px;
    }

    .home .right a {
        display: inline-block;
        font-size: 20px;
        font-weight: 800;
        padding: 7px 14px;
    }

    .about .left h3 span{
        font-size: 30px;
        margin-right: 30px;
    }

    .about .left h3 {
        font-size: 18px;
    }

    .about .right h3 {
        font-size: 18px;
    }

    .about .right span {
        font-size: 20px;
        font-weight: 700;
    }

    .about .right a {
        font-size: 20px;
        padding: 7px 14px;
    }

    .portfolio .portfolio-content {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 800px) {
    .contact-content {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .home .left img {
        height: 350px;
    }

    .home .column {
        width: 100%;
    }

    .home .left {
        display: flex;
        justify-content: center;
    }

    .about .bio {
        width: 100%;
    }

    .about .about-content {
        gap: 1px;
    }

    .skills .skills-content .box {
        width: 100%;
    }
    .portfolio .portfolio-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    section {
        padding: 20px 40px;
    }

    .home .right a {
        font-size: 17px;
        padding: 7px 10px;
    }

    .about .right a {
        font-size: 17px;
        padding: 7px 10px;
    }

    .timeline {
         margin: 20px 0;
    }

    .timeline-item {
        padding-left: 3rem;
        width: calc(100% - 0px);

    }
}
